.gametable, .gametableedt {
    display:table;
    width: min-content;
    border-collapse: collapse;
}

.gametableedt {
    display: none;
}

.gametablerow, .gametablerowedt {
    display:table-row;
    border-collapse: collapse;
    min-height: 72px;
}

.gametablecell, .gametablecelledt  {
    display:table-cell;
    min-width: 72px;
    min-height: 72px;
    width: 72px;
    height: 72px;
    
    padding-top: 0px;
    padding-bottom: 0px;
    overflow: hidden;

    position: relative;

    color: azure
}

.gametablecellborder {
    border-width: 1px;
    /*border-color: black;*/
    border-color: azure;
    border-style: solid;
    border-collapse: collapse;
}

.inputCell {
    max-width: 3em;
}

.inputCell.hidden {
    display: none;
}

.inputGenerate.hidden {
    display: none;
}

.cellValue {
    text-align: center;
    font-size: xx-large;
    padding: 0px;
    position: absolute;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
}

.cellEditorLabel {
    font-size: x-large;
}

#toolbar {
    padding-top: 10px;
    padding-bottom: 10px;
}

.cellEditorValues {
    font-size: small; 
    text-align: right;
}

.highlight {
    background-color: green;
    color: black;
}

.tried {
    background-color: orange;
    color: azure
}

.failed {
    background-color: red;
    color: azure
}

.animation-btn {
    display: none;
}

h1, #gameStatusInfo {
    color: azure;
}

body {
    background-color: darkslategray;
}

.versionInfo {
    margin-top: 50px; 
    display: block; 
    text-align: right; 
    color: azure
}